.quote {
  background: rgba(191, 142, 127, 0.5);
  margin-bottom: 104px;

  &__wrapper {
    position: relative;
    max-width: 790px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__text {    
    display: flex;
    flex-direction: column;
    padding: 60px 40px 0px 40px;
    font-size: calc(20px + 10 * ((100vw - 320px) / (1170 - 320)));
    // font-size: 30px;
    line-height: 200.5%;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    &-two {
      text-align: right;
    }

    @media (min-width: 1170px) {
      font-size: 30px;
    }

    span.quotes-1{
      position: absolute;
      top: 20px;
      left: 0;      
    }

    

    span.quotes-2{
      position: absolute;
      bottom: 80px;
      right: 0;
    }

    
  }

  

  &__author {
    padding-bottom: 30px;
    font-size: calc(18px + 6 * ((100vw - 320px) / (1170 - 320)));
    // font-size: 24px;
    line-height: 279.5%;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.7);
    text-align: right;
    padding-right: 80px;

    @media (min-width: 1170px) {
      font-size: 24px;
    }
  }

  @media (max-width: 1170px){
    &__wrapper{
      margin-left: 10px;
      margin-right: 10px;
    }
  }

}


